/*fake logo */
.nav-landing p { 
    margin-top: 20px;
    margin-left: 15px;;
}

.material-icons {
    font-size: 25px;
}

.utensils-icon, .close-icon {
    position: absolute;
    top: 20px;
    right: 15px;
    border: none;
    background-color: inherit;
}

.open-menu li {
    list-style: none;
    display: block;
    margin-top: 25px;
    font-size: 20px;
}

.open-menu li button {
    padding: 0;
}

.open-menu {
    background-color: wheat;
    text-align: left;
    right: 0;
    top: 0;
    margin: 0;
    height: 150px;
    width: 200px;
    position: absolute;
    list-style: none;
    padding-top: 50px;
    z-index: 10;
}

