@import url('https://fonts.googleapis.com/css?family=Merienda:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, link, a {
    cursor: pointer;
    text-decoration: none;
    color: inherit
}

.main-landing {
    padding: 130px 30px;
    text-align: center;
}

.main-landing .headline {
    font-family: 'Merienda', cursive;
    font-size: 35px;
    line-height: 40px;
    transform: rotate(-5deg);
}

.main-landing p {
    padding-top: 20px;
    line-height: 25px;
    letter-spacing: 0.8px;
}

footer {
    text-align: center;
}

.funnels ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.funnels li {
    list-style: none;
    margin-bottom: 50px;
    padding: 0 20px
}

.funnels h3 {
    font-family: 'Merienda', cursive;
}

.btn-signup-modal, .btn-check-it-out, .btn-signup-form {
    border: none;
    background-color: inherit;
    font-family: 'Libre Franklin', sans-serif;
    font-size: inherit;
}

.btn-signup-modal {
    padding-right: 12px;
}

.btn-check-it-out {
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px 12px;
    margin-top: 10px
}

@media only screen and (min-width: 500px) {

    .funnels li {
        padding-left: 100px;
        padding-right: 100px;
    }    
}

@media only screen and (min-width: 900px) {

    .funnels ul {

        flex-direction: row;
        justify-content: space-evenly;
    }

    .funnels li {
        width: 250px;
        padding-left: 0;
        padding-right: 0;
    }
}


