/* CHECKBOX AS TOGGLE BUTTON for Open Now */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider-open-now {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider-open-now:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #551843;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider-open-now {
  background-color: white;
} 
  
input:checked + .slider-open-now:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-open-now.round {
  border-radius: 34px;
  background-color: grey;
}
  
.slider-open-now.round:before {
  border-radius: 50%;
}

.open-now-container {
  display: flex;
  justify-content: center;
}

.open-now-container h4 {
  margin-block-start: 8px;
  margin-block-end: 0;
  color: white
}

  /* CHECKBOXES AS BUTTONS for categories*/
.category-inputs[type=checkbox] {
  display: none;
}

.category-label span {
  background-color:	#673B58;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  padding: 4px 8px;
  line-height: 30px;
  cursor:pointer;
  display: inline-block;
  margin: 5px
}

.category-label span:hover {
  background-color:#EC3A69;;
  color: white;
}
  
.category-inputs[type=checkbox]:checked + .category-label span {
  background-color:  #EC3A69;
  text-decoration: none;
  color: white;
}

.category-inputs[type=checkbox]:checked:hover + .category-label span {
  background-color: white;
  text-decoration: none;
  color: #551843;
}

.btn-all-set, .btn-never-mind {
  background-color: #EC3A69;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  border: none;
  font-family: 'Libre Franklin', sans-serif;
}
  