.search-places-main {
    margin-top: 100px;
    text-align: center;
}

.search-places-main .headline {
    text-align: left;
    margin-left: 15px;
    line-height: 40px;
}

.search-icon {
    border: none;
    background-color: inherit;
    color: white;
    position: absolute;
    padding-top: 10px;
    margin-left: -115px;
}

.search-input {
    border: none;
    background-color: #FFBB2E;
    padding: 15px 30px; 
    border-radius: 30px;
}

.search-slider {
    transform: rotate(90deg);
    background-color: #FFBB2E;
    margin-left: 20px;
    padding: 10px;
    border-radius: 100%;  
    width: 25px
}

.search-input-and-config-wrapper {
    display: flex;
    justify-content: center;
}

.btn-discover-places {
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px 12px;
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
}

.headline-welcome {
    margin-top: 50px;
    margin-left: 30px;
}

.discover-places-text {
    padding: 0 30px
}

#config-window {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 10;
    background-image: linear-gradient(to right, #5C344F, #551843);
    padding-top: 20px;
    border-radius: 8px;
}

#config-window h3 {
    text-align: left;
    margin-left: 20px;
    color: white
}



