.search-places-main {
    margin-top: 100px;
}

.search-places-main .headline {
    text-align: left;
    margin-left: 10%;
    line-height: 40px;
    color: #FCF5E2; 
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    letter-spacing: 3px;
}

.material-icons {
    font-size: 30px
}

.search-icon {
    border: none;
    background-color: inherit;
    color: white;
    position: absolute;
    padding-top: 6px;
    margin-left: -50px;
}

.search-input {
    border: none;
    background-color: #FFBB2E;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    font-family: inherit;  
    outline: none;
}

.search-slider {
    transform: rotate(90deg);
    background-color: #FFBB2E;
    margin-left: 20px;
    padding: 10px;
    border-radius: 100%;  
    width: 25px
}

.search-input-and-config-wrapper {
    display: flex;
    justify-content: center;
}

#config-window {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 10;
    background-image: linear-gradient(to right, #5C344F, #551843);
    padding-top: 20px;
    border-radius: 20px;
}

#config-window h3 {
    text-align: left;
    color: white;
    margin-block-start: 5px;
    margin-block-end: 10px;
}

.form-config-window {
    text-align: center;
    margin: 0px 10px;
}

@media only screen and (min-width: 450px) {

    #config-window {
        width: 400px;
        top: 10%;
    }
}

@media only screen and (min-width: 600px) {

    .search-places-main .headline {
        margin-left: 15%;
        font-size: 50px;
        line-height: 50px;
    }

    .search-input {
        width: 250px;
        font-size: 20px;
        padding: 15px;
    }

    .search-slider {
        width: 35px;
    }

    .search-icon {
        padding-top: 10px;
    }

    .material-icons {
        font-size: 35px;
    }
}

@media only screen and (min-width: 1000px) {

    .search-input {
        width: 350px;
    }
}



