.search-places-main {
    margin-top: 100px;
    text-align: center;
}

.search-places-main .headline {
    text-align: left;
    margin-left: 15px;
    line-height: 40px;
}

.search-icon {
    border: none;
    background-color: inherit;
    position: absolute;
    padding-top: 10px;
    margin-left: -115px;
}

.search-input {
    border: none;
    background-color: wheat;
    padding: 15px 30px;
    border-radius: 30px;
}

.search-slider {
    transform: rotate(90deg);
    background-color: wheat;
    margin-left: 20px;
    padding: 10px;
    border-radius: 100%;    
}

.search-input-and-config-wrapper {
    display: flex;
    justify-content: center;
}


