.forms {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    color: white
}

.signup {
    margin-top: -5px;
}

.login {
    margin-top: 35px;
}

.forms fieldset {
    border-style: none;
    background-image: linear-gradient(to right, #5C344F, #551843);
    padding-top: 20px;
    border-radius: 20px;
}

.forms legend {
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.forms label {
    padding-left: 6px;
}

.forms input {
    display: block;
    width: 90%;
    padding: 12px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style: none;
    border-radius: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    outline: none;
}

.btn-forms {
    border: none;
    background-color: inherit;
    font-family: 'Libre Franklin', sans-serif;
    background-image: linear-gradient(to right, #F9643A, #EC3A69);
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 30px;
    color: #FCF5E2;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
}

.btn-forms:disabled {
    color: #666666;
}

.btn-forms-wrapper-left {
    float: left;
    /* margin-left: 10px; */
    padding: 10px 0;
}

.btn-forms-wrapper-right {
    float: right;
    /* margin-right: 10px; */
    padding: 10px 0;
}

.error-message {
    font-size: 12px;
    padding: 0 10px;
    padding-bottom: 10px;
    color: #FFBB2E;
}

.required-fields {
    position: absolute;
    right: 30px;
    top: 80px;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.5px;
}

.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

@media only screen and (min-width: 650px) {

    .forms {
        width: 450px;
    }

    .btn-forms-wrapper-left {
        margin-left: 10px;
    }
    
    .btn-forms-wrapper-right {
        margin-right: 10px;
    }
}