.restaurant-card-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.restaurant-card-item { 
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-image: linear-gradient(to bottom right, #5D6D7E, #283747);
    position: relative;
}

.place-title, .place-rating, .place-is-open {
    text-align: left;
    padding-left: 30px;
}

.place-title {
    padding-top: 20px;
    line-height: 35px;
}

.image-placeholder {
    border-radius: 100%;
    float: right;
    margin-top: -30px;
    margin-right: -20px;
}

.btns-wrapper {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
}

.btn-add-place {
    border: none;
    background-color: #EC3A69;;
    font-size: inherit;
    padding: 10px 30px;
    color: #FCF5E2;
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
    outline: none;
}

.restaurant-image {
    width: 100px;
    height: 100px;
    border-radius: 100%; 
    object-fit: cover;
}

@media only screen and (min-width: 750px) {

    .restaurant-card-item {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1000px) {

    .restaurant-card-grid {
        margin-top: 40px;
    }
}