/* .restaurant-card-grid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} */

.restaurant-card-item { 
    width: 90%;
    height: 200px;
    border: solid 1px grey;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.place-title, .place-rating, .place-is-open {
    text-align: left;
    padding-left: 15px;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid 1px grey;
    float: right;
    margin-top: -30px;
    margin-right: -20px;
}

.btn-add-place {
    border: none;
    border: solid 1px grey;
    background-color: inherit;
    font-size: inherit;
    border-radius: 30px;
    padding: 10px 30px;
}

@media only screen and (min-width: 650px) {

    .restaurant-card-item {
        width: 400px;
        height: 300px;
    }
}